{
  "openapi": "3.1.0",
  "info": {
    "title": "Kiwoom REST API",
    "version": "2026-06-18",
    "description": "키움증권 REST API (https://openapi.kiwoom.com)\n\n이 파일은 공식 포털 AJAX에서 자동 생성됩니다. 직접 수정하지 마세요 — `python scripts/generate_openapi.py`로 재생성하세요.\n\n**실제 API 경로**: 각 operation의 `x-real-path` 참고. path의 마지막 세그먼트(apiId)는 문서화 목적 구분자이며, 실제 호출 시 `api-id` 헤더로 전달합니다.",
    "license": {
      "name": "Mozilla Public License 2.0",
      "url": "https://www.mozilla.org/en-US/MPL/2.0/"
    },
    "contact": {
      "url": "https://github.com/KKimj/Kiwoom-REST-API"
    }
  },
  "servers": [
    {
      "url": "https://api.kiwoom.com",
      "description": "실거래"
    },
    {
      "url": "https://mockapi.kiwoom.com",
      "description": "모의투자"
    }
  ],
  "tags": [
    {
      "name": "acnt / 계좌",
      "description": "**33개**\n\n| # | API ID | 설명 |\n|---|---|---|\n| 1 | `ka00001` | 계좌번호조회 |\n| 2 | `ka01690` | 일별잔고수익률 |\n| 3 | `ka10072` | 일자별종목별실현손익요청_일자 |\n| 4 | `ka10073` | 일자별종목별실현손익요청_기간 |\n| 5 | `ka10074` | 일자별실현손익요청 |\n| 6 | `ka10075` | 미체결요청 |\n| 7 | `ka10076` | 체결요청 |\n| 8 | `ka10077` | 당일실현손익상세요청 |\n| 9 | `ka10085` | 계좌수익률요청 |\n| 10 | `ka10088` | 미체결 분할주문 상세 |\n| 11 | `ka10170` | 당일매매일지요청 |\n| 12 | `kt00001` | 예수금상세현황요청 |\n| 13 | `kt00002` | 일별추정예탁자산현황요청 |\n| 14 | `kt00003` | 추정자산조회요청 |\n| 15 | `kt00004` | 계좌평가현황요청 |\n| 16 | `kt00005` | 체결잔고요청 |\n| 17 | `kt00007` | 계좌별주문체결내역상세요청 |\n| 18 | `kt00008` | 계좌별익일결제예정내역요청 |\n| 19 | `kt00009` | 계좌별주문체결현황요청 |\n| 20 | `kt00010` | 주문인출가능금액요청 |\n| 21 | `kt00011` | 증거금율별주문가능수량조회요청 |\n| 22 | `kt00012` | 신용보증금율별주문가능수량조회요청 |\n| 23 | `kt00013` | 증거금세부내역조회요청 |\n| 24 | `kt00015` | 위탁종합거래내역요청 |\n| 25 | `kt00016` | 일별계좌수익률상세현황요청 |\n| 26 | `kt00017` | 계좌별당일현황요청 |\n| 27 | `kt00018` | 계좌평가잔고내역요청 |\n| 28 | `kt50020` | 금현물 잔고확인 |\n| 29 | `kt50021` | 금현물 예수금 |\n| 30 | `kt50030` | 금현물 주문체결전체조회 |\n| 31 | `kt50031` | 금현물 주문체결조회 |\n| 32 | `kt50032` | 금현물 거래내역조회 |\n| 33 | `kt50075` | 금현물 미체결조회 |",
      "x-description-en": "**33 endpoints**\n\n| # | API ID | Description |\n|---|---|---|\n| 1 | `ka00001` | 계좌번호조회 |\n| 2 | `ka01690` | 일별잔고수익률 |\n| 3 | `ka10072` | 일자별종목별실현손익요청_일자 |\n| 4 | `ka10073` | 일자별종목별실현손익요청_기간 |\n| 5 | `ka10074` | 일자별실현손익요청 |\n| 6 | `ka10075` | 미체결요청 |\n| 7 | `ka10076` | 체결요청 |\n| 8 | `ka10077` | 당일실현손익상세요청 |\n| 9 | `ka10085` | 계좌수익률요청 |\n| 10 | `ka10088` | 미체결 분할주문 상세 |\n| 11 | `ka10170` | 당일매매일지요청 |\n| 12 | `kt00001` | 예수금상세현황요청 |\n| 13 | `kt00002` | 일별추정예탁자산현황요청 |\n| 14 | `kt00003` | 추정자산조회요청 |\n| 15 | `kt00004` | 계좌평가현황요청 |\n| 16 | `kt00005` | 체결잔고요청 |\n| 17 | `kt00007` | 계좌별주문체결내역상세요청 |\n| 18 | `kt00008` | 계좌별익일결제예정내역요청 |\n| 19 | `kt00009` | 계좌별주문체결현황요청 |\n| 20 | `kt00010` | 주문인출가능금액요청 |\n| 21 | `kt00011` | 증거금율별주문가능수량조회요청 |\n| 22 | `kt00012` | 신용보증금율별주문가능수량조회요청 |\n| 23 | `kt00013` | 증거금세부내역조회요청 |\n| 24 | `kt00015` | 위탁종합거래내역요청 |\n| 25 | `kt00016` | 일별계좌수익률상세현황요청 |\n| 26 | `kt00017` | 계좌별당일현황요청 |\n| 27 | `kt00018` | 계좌평가잔고내역요청 |\n| 28 | `kt50020` | 금현물 잔고확인 |\n| 29 | `kt50021` | 금현물 예수금 |\n| 30 | `kt50030` | 금현물 주문체결전체조회 |\n| 31 | `kt50031` | 금현물 주문체결조회 |\n| 32 | `kt50032` | 금현물 거래내역조회 |\n| 33 | `kt50075` | 금현물 미체결조회 |"
    },
    {
      "name": "chart / 차트",
      "description": "**21개**\n\n| # | API ID | 설명 |\n|---|---|---|\n| 34 | `ka10060` | 종목별투자자기관별차트요청 |\n| 35 | `ka10064` | 장중투자자별매매차트요청 |\n| 36 | `ka10079` | 주식틱차트조회요청 |\n| 37 | `ka10080` | 주식분봉차트조회요청 |\n| 38 | `ka10081` | 주식일봉차트조회요청 |\n| 39 | `ka10082` | 주식주봉차트조회요청 |\n| 40 | `ka10083` | 주식월봉차트조회요청 |\n| 41 | `ka10094` | 주식년봉차트조회요청 |\n| 42 | `ka20004` | 업종틱차트조회요청 |\n| 43 | `ka20005` | 업종분봉조회요청 |\n| 44 | `ka20006` | 업종일봉조회요청 |\n| 45 | `ka20007` | 업종주봉조회요청 |\n| 46 | `ka20008` | 업종월봉조회요청 |\n| 47 | `ka20019` | 업종년봉조회요청 |\n| 48 | `ka50079` | 금현물틱차트조회요청 |\n| 49 | `ka50080` | 금현물분봉차트조회요청 |\n| 50 | `ka50081` | 금현물일봉차트조회요청 |\n| 51 | `ka50082` | 금현물주봉차트조회요청 |\n| 52 | `ka50083` | 금현물월봉차트조회요청 |\n| 53 | `ka50091` | 금현물당일틱차트조회요청 |\n| 54 | `ka50092` | 금현물당일분봉차트조회요청 |",
      "x-description-en": "**21 endpoints**\n\n| # | API ID | Description |\n|---|---|---|\n| 34 | `ka10060` | 종목별투자자기관별차트요청 |\n| 35 | `ka10064` | 장중투자자별매매차트요청 |\n| 36 | `ka10079` | 주식틱차트조회요청 |\n| 37 | `ka10080` | 주식분봉차트조회요청 |\n| 38 | `ka10081` | 주식일봉차트조회요청 |\n| 39 | `ka10082` | 주식주봉차트조회요청 |\n| 40 | `ka10083` | 주식월봉차트조회요청 |\n| 41 | `ka10094` | 주식년봉차트조회요청 |\n| 42 | `ka20004` | 업종틱차트조회요청 |\n| 43 | `ka20005` | 업종분봉조회요청 |\n| 44 | `ka20006` | 업종일봉조회요청 |\n| 45 | `ka20007` | 업종주봉조회요청 |\n| 46 | `ka20008` | 업종월봉조회요청 |\n| 47 | `ka20019` | 업종년봉조회요청 |\n| 48 | `ka50079` | 금현물틱차트조회요청 |\n| 49 | `ka50080` | 금현물분봉차트조회요청 |\n| 50 | `ka50081` | 금현물일봉차트조회요청 |\n| 51 | `ka50082` | 금현물주봉차트조회요청 |\n| 52 | `ka50083` | 금현물월봉차트조회요청 |\n| 53 | `ka50091` | 금현물당일틱차트조회요청 |\n| 54 | `ka50092` | 금현물당일분봉차트조회요청 |"
    },
    {
      "name": "crdordr / 신용주문",
      "description": "**4개**\n\n| # | API ID | 설명 |\n|---|---|---|\n| 55 | `kt10006` | 신용 매수주문 |\n| 56 | `kt10007` | 신용 매도주문 |\n| 57 | `kt10008` | 신용 정정주문 |\n| 58 | `kt10009` | 신용 취소주문 |",
      "x-description-en": "**4 endpoints**\n\n| # | API ID | Description |\n|---|---|---|\n| 55 | `kt10006` | 신용 매수주문 |\n| 56 | `kt10007` | 신용 매도주문 |\n| 57 | `kt10008` | 신용 정정주문 |\n| 58 | `kt10009` | 신용 취소주문 |"
    },
    {
      "name": "elw / ELW",
      "description": "**11개**\n\n| # | API ID | 설명 |\n|---|---|---|\n| 59 | `ka10048` | ELW일별민감도지표요청 |\n| 60 | `ka10050` | ELW민감도지표요청 |\n| 61 | `ka30001` | ELW가격급등락요청 |\n| 62 | `ka30002` | 거래원별ELW순매매상위요청 |\n| 63 | `ka30003` | ELWLP보유일별추이요청 |\n| 64 | `ka30004` | ELW괴리율요청 |\n| 65 | `ka30005` | ELW조건검색요청 |\n| 66 | `ka30009` | ELW등락율순위요청 |\n| 67 | `ka30010` | ELW잔량순위요청 |\n| 68 | `ka30011` | ELW근접율요청 |\n| 69 | `ka30012` | ELW종목상세정보요청 |",
      "x-description-en": "**11 endpoints**\n\n| # | API ID | Description |\n|---|---|---|\n| 59 | `ka10048` | ELW일별민감도지표요청 |\n| 60 | `ka10050` | ELW민감도지표요청 |\n| 61 | `ka30001` | ELW가격급등락요청 |\n| 62 | `ka30002` | 거래원별ELW순매매상위요청 |\n| 63 | `ka30003` | ELWLP보유일별추이요청 |\n| 64 | `ka30004` | ELW괴리율요청 |\n| 65 | `ka30005` | ELW조건검색요청 |\n| 66 | `ka30009` | ELW등락율순위요청 |\n| 67 | `ka30010` | ELW잔량순위요청 |\n| 68 | `ka30011` | ELW근접율요청 |\n| 69 | `ka30012` | ELW종목상세정보요청 |"
    },
    {
      "name": "etf / ETF",
      "description": "**9개**\n\n| # | API ID | 설명 |\n|---|---|---|\n| 70 | `ka40001` | ETF수익율요청 |\n| 71 | `ka40002` | ETF종목정보요청 |\n| 72 | `ka40003` | ETF일별추이요청 |\n| 73 | `ka40004` | ETF전체시세요청 |\n| 74 | `ka40006` | ETF시간대별추이요청 |\n| 75 | `ka40007` | ETF시간대별체결요청 |\n| 76 | `ka40008` | ETF일자별체결요청 |\n| 77 | `ka40009` | ETF시간대별NAV현황 |\n| 78 | `ka40010` | ETF시간대별수급현황 |",
      "x-description-en": "**9 endpoints**\n\n| # | API ID | Description |\n|---|---|---|\n| 70 | `ka40001` | ETF수익율요청 |\n| 71 | `ka40002` | ETF종목정보요청 |\n| 72 | `ka40003` | ETF일별추이요청 |\n| 73 | `ka40004` | ETF전체시세요청 |\n| 74 | `ka40006` | ETF시간대별추이요청 |\n| 75 | `ka40007` | ETF시간대별체결요청 |\n| 76 | `ka40008` | ETF일자별체결요청 |\n| 77 | `ka40009` | ETF시간대별NAV현황 |\n| 78 | `ka40010` | ETF시간대별수급현황 |"
    },
    {
      "name": "frgnistt / 기관/외국인",
      "description": "**4개**\n\n| # | API ID | 설명 |\n|---|---|---|\n| 79 | `ka10008` | 주식외국인종목별매매동향 |\n| 80 | `ka10009` | 주식기관요청 |\n| 81 | `ka10131` | 기관외국인연속매매현황요청 |\n| 82 | `ka52301` | 금현물투자자현황 |",
      "x-description-en": "**4 endpoints**\n\n| # | API ID | Description |\n|---|---|---|\n| 79 | `ka10008` | 주식외국인종목별매매동향 |\n| 80 | `ka10009` | 주식기관요청 |\n| 81 | `ka10131` | 기관외국인연속매매현황요청 |\n| 82 | `ka52301` | 금현물투자자현황 |"
    },
    {
      "name": "mrkcond / 시세",
      "description": "**25개**\n\n| # | API ID | 설명 |\n|---|---|---|\n| 83 | `ka10004` | 주식호가요청 |\n| 84 | `ka10005` | 주식일주월시분요청 |\n| 85 | `ka10006` | 주식시분요청 |\n| 86 | `ka10007` | 시세표성정보요청 |\n| 87 | `ka10011` | 신주인수권전체시세요청 |\n| 88 | `ka10044` | 일별기관매매종목요청 |\n| 89 | `ka10045` | 종목별기관매매추이요청 |\n| 90 | `ka10046` | 체결강도추이시간별요청 |\n| 91 | `ka10047` | 체결강도추이일별요청 |\n| 92 | `ka10063` | 장중투자자별매매요청 |\n| 93 | `ka10066` | 장마감후투자자별매매요청 |\n| 94 | `ka10078` | 증권사별종목매매동향요청 |\n| 95 | `ka10086` | 일별주가요청 |\n| 96 | `ka10087` | 시간외단일가요청 |\n| 97 | `ka50010` | 금현물체결추이 |\n| 98 | `ka50012` | 금현물일별추이 |\n| 99 | `ka50087` | 금현물예상체결 |\n| 100 | `ka50100` | 금현물 시세정보 |\n| 101 | `ka50101` | 금현물 호가 |\n| 102 | `ka90005` | 프로그램매매추이요청 시간대별 |\n| 103 | `ka90006` | 프로그램매매차익잔고추이요청 |\n| 104 | `ka90007` | 프로그램매매누적추이요청 |\n| 105 | `ka90008` | 종목시간별프로그램매매추이요청 |\n| 106 | `ka90010` | 프로그램매매추이요청 일자별 |\n| 107 | `ka90013` | 종목일별프로그램매매추이요청 |",
      "x-description-en": "**25 endpoints**\n\n| # | API ID | Description |\n|---|---|---|\n| 83 | `ka10004` | 주식호가요청 |\n| 84 | `ka10005` | 주식일주월시분요청 |\n| 85 | `ka10006` | 주식시분요청 |\n| 86 | `ka10007` | 시세표성정보요청 |\n| 87 | `ka10011` | 신주인수권전체시세요청 |\n| 88 | `ka10044` | 일별기관매매종목요청 |\n| 89 | `ka10045` | 종목별기관매매추이요청 |\n| 90 | `ka10046` | 체결강도추이시간별요청 |\n| 91 | `ka10047` | 체결강도추이일별요청 |\n| 92 | `ka10063` | 장중투자자별매매요청 |\n| 93 | `ka10066` | 장마감후투자자별매매요청 |\n| 94 | `ka10078` | 증권사별종목매매동향요청 |\n| 95 | `ka10086` | 일별주가요청 |\n| 96 | `ka10087` | 시간외단일가요청 |\n| 97 | `ka50010` | 금현물체결추이 |\n| 98 | `ka50012` | 금현물일별추이 |\n| 99 | `ka50087` | 금현물예상체결 |\n| 100 | `ka50100` | 금현물 시세정보 |\n| 101 | `ka50101` | 금현물 호가 |\n| 102 | `ka90005` | 프로그램매매추이요청 시간대별 |\n| 103 | `ka90006` | 프로그램매매차익잔고추이요청 |\n| 104 | `ka90007` | 프로그램매매누적추이요청 |\n| 105 | `ka90008` | 종목시간별프로그램매매추이요청 |\n| 106 | `ka90010` | 프로그램매매추이요청 일자별 |\n| 107 | `ka90013` | 종목일별프로그램매매추이요청 |"
    },
    {
      "name": "ordr / 주문",
      "description": "**8개**\n\n| # | API ID | 설명 |\n|---|---|---|\n| 108 | `kt10000` | 주식 매수주문 |\n| 109 | `kt10001` | 주식 매도주문 |\n| 110 | `kt10002` | 주식 정정주문 |\n| 111 | `kt10003` | 주식 취소주문 |\n| 112 | `kt50000` | 금현물 매수주문 |\n| 113 | `kt50001` | 금현물 매도주문 |\n| 114 | `kt50002` | 금현물 정정주문 |\n| 115 | `kt50003` | 금현물 취소주문 |",
      "x-description-en": "**8 endpoints**\n\n| # | API ID | Description |\n|---|---|---|\n| 108 | `kt10000` | 주식 매수주문 |\n| 109 | `kt10001` | 주식 매도주문 |\n| 110 | `kt10002` | 주식 정정주문 |\n| 111 | `kt10003` | 주식 취소주문 |\n| 112 | `kt50000` | 금현물 매수주문 |\n| 113 | `kt50001` | 금현물 매도주문 |\n| 114 | `kt50002` | 금현물 정정주문 |\n| 115 | `kt50003` | 금현물 취소주문 |"
    },
    {
      "name": "revoke / 접근토큰폐기",
      "description": "**1개**\n\n| # | API ID | 설명 |\n|---|---|---|\n| 116 | `au10002` | 접근토큰폐기 |",
      "x-description-en": "**1 endpoints**\n\n| # | API ID | Description |\n|---|---|---|\n| 116 | `au10002` | 접근토큰폐기 |"
    },
    {
      "name": "rkinfo / 순위정보",
      "description": "**23개**\n\n| # | API ID | 설명 |\n|---|---|---|\n| 117 | `ka10020` | 호가잔량상위요청 |\n| 118 | `ka10021` | 호가잔량급증요청 |\n| 119 | `ka10022` | 잔량율급증요청 |\n| 120 | `ka10023` | 거래량급증요청 |\n| 121 | `ka10027` | 전일대비등락률상위요청 |\n| 122 | `ka10029` | 예상체결등락률상위요청 |\n| 123 | `ka10030` | 당일거래량상위요청 |\n| 124 | `ka10031` | 전일거래량상위요청 |\n| 125 | `ka10032` | 거래대금상위요청 |\n| 126 | `ka10033` | 신용비율상위요청 |\n| 127 | `ka10034` | 외인기간별매매상위요청 |\n| 128 | `ka10035` | 외인연속순매매상위요청 |\n| 129 | `ka10036` | 외인한도소진율증가상위 |\n| 130 | `ka10037` | 외국계창구매매상위요청 |\n| 131 | `ka10038` | 종목별증권사순위요청 |\n| 132 | `ka10039` | 증권사별매매상위요청 |\n| 133 | `ka10040` | 당일주요거래원요청 |\n| 134 | `ka10042` | 순매수거래원순위요청 |\n| 135 | `ka10053` | 당일상위이탈원요청 |\n| 136 | `ka10062` | 동일순매매순위요청 |\n| 137 | `ka10065` | 장중투자자별매매상위요청 |\n| 138 | `ka10098` | 시간외단일가등락율순위요청 |\n| 139 | `ka90009` | 외국인기관매매상위요청 |",
      "x-description-en": "**23 endpoints**\n\n| # | API ID | Description |\n|---|---|---|\n| 117 | `ka10020` | 호가잔량상위요청 |\n| 118 | `ka10021` | 호가잔량급증요청 |\n| 119 | `ka10022` | 잔량율급증요청 |\n| 120 | `ka10023` | 거래량급증요청 |\n| 121 | `ka10027` | 전일대비등락률상위요청 |\n| 122 | `ka10029` | 예상체결등락률상위요청 |\n| 123 | `ka10030` | 당일거래량상위요청 |\n| 124 | `ka10031` | 전일거래량상위요청 |\n| 125 | `ka10032` | 거래대금상위요청 |\n| 126 | `ka10033` | 신용비율상위요청 |\n| 127 | `ka10034` | 외인기간별매매상위요청 |\n| 128 | `ka10035` | 외인연속순매매상위요청 |\n| 129 | `ka10036` | 외인한도소진율증가상위 |\n| 130 | `ka10037` | 외국계창구매매상위요청 |\n| 131 | `ka10038` | 종목별증권사순위요청 |\n| 132 | `ka10039` | 증권사별매매상위요청 |\n| 133 | `ka10040` | 당일주요거래원요청 |\n| 134 | `ka10042` | 순매수거래원순위요청 |\n| 135 | `ka10053` | 당일상위이탈원요청 |\n| 136 | `ka10062` | 동일순매매순위요청 |\n| 137 | `ka10065` | 장중투자자별매매상위요청 |\n| 138 | `ka10098` | 시간외단일가등락율순위요청 |\n| 139 | `ka90009` | 외국인기관매매상위요청 |"
    },
    {
      "name": "sect / 업종",
      "description": "**6개**\n\n| # | API ID | 설명 |\n|---|---|---|\n| 140 | `ka10010` | 업종프로그램요청 |\n| 141 | `ka10051` | 업종별투자자순매수요청 |\n| 142 | `ka20001` | 업종현재가요청 |\n| 143 | `ka20002` | 업종별주가요청 |\n| 144 | `ka20003` | 전업종지수요청 |\n| 145 | `ka20009` | 업종현재가일별요청 |",
      "x-description-en": "**6 endpoints**\n\n| # | API ID | Description |\n|---|---|---|\n| 140 | `ka10010` | 업종프로그램요청 |\n| 141 | `ka10051` | 업종별투자자순매수요청 |\n| 142 | `ka20001` | 업종현재가요청 |\n| 143 | `ka20002` | 업종별주가요청 |\n| 144 | `ka20003` | 전업종지수요청 |\n| 145 | `ka20009` | 업종현재가일별요청 |"
    },
    {
      "name": "shsa / 공매도",
      "description": "**1개**\n\n| # | API ID | 설명 |\n|---|---|---|\n| 146 | `ka10014` | 공매도추이요청 |",
      "x-description-en": "**1 endpoints**\n\n| # | API ID | Description |\n|---|---|---|\n| 146 | `ka10014` | 공매도추이요청 |"
    },
    {
      "name": "slb / 대차거래",
      "description": "**4개**\n\n| # | API ID | 설명 |\n|---|---|---|\n| 147 | `ka10068` | 대차거래추이요청 |\n| 148 | `ka10069` | 대차거래상위10종목요청 |\n| 149 | `ka20068` | 대차거래추이요청(종목별) |\n| 150 | `ka90012` | 대차거래내역요청 |",
      "x-description-en": "**4 endpoints**\n\n| # | API ID | Description |\n|---|---|---|\n| 147 | `ka10068` | 대차거래추이요청 |\n| 148 | `ka10069` | 대차거래상위10종목요청 |\n| 149 | `ka20068` | 대차거래추이요청(종목별) |\n| 150 | `ka90012` | 대차거래내역요청 |"
    },
    {
      "name": "stkinfo / 종목정보",
      "description": "**31개**\n\n| # | API ID | 설명 |\n|---|---|---|\n| 151 | `ka00198` | 실시간종목조회순위 |\n| 152 | `ka10001` | 주식기본정보요청 |\n| 153 | `ka10002` | 주식거래원요청 |\n| 154 | `ka10003` | 체결정보요청 |\n| 155 | `ka10013` | 신용매매동향요청 |\n| 156 | `ka10015` | 일별거래상세요청 |\n| 157 | `ka10016` | 신고저가요청 |\n| 158 | `ka10017` | 상하한가요청 |\n| 159 | `ka10018` | 고저가근접요청 |\n| 160 | `ka10019` | 가격급등락요청 |\n| 161 | `ka10024` | 거래량갱신요청 |\n| 162 | `ka10025` | 매물대집중요청 |\n| 163 | `ka10026` | 고저PER요청 |\n| 164 | `ka10028` | 시가대비등락률요청 |\n| 165 | `ka10043` | 거래원매물대분석요청 |\n| 166 | `ka10052` | 거래원순간거래량요청 |\n| 167 | `ka10054` | 변동성완화장치발동종목요청 |\n| 168 | `ka10055` | 당일전일체결량요청 |\n| 169 | `ka10058` | 투자자별일별매매종목요청 |\n| 170 | `ka10059` | 종목별투자자기관별요청 |\n| 171 | `ka10061` | 종목별투자자기관별합계요청 |\n| 172 | `ka10084` | 당일전일체결요청 |\n| 173 | `ka10095` | 관심종목정보요청 |\n| 174 | `ka10099` | 종목정보 리스트 |\n| 175 | `ka10100` | 종목정보 조회 |\n| 176 | `ka10101` | 업종코드 리스트 |\n| 177 | `ka10102` | 회원사 리스트 |\n| 178 | `ka90003` | 프로그램순매수상위50요청 |\n| 179 | `ka90004` | 종목별프로그램매매현황요청 |\n| 180 | `kt20016` | 신용융자 가능종목요청 |\n| 181 | `kt20017` | 신용융자 가능문의 |",
      "x-description-en": "**31 endpoints**\n\n| # | API ID | Description |\n|---|---|---|\n| 151 | `ka00198` | 실시간종목조회순위 |\n| 152 | `ka10001` | 주식기본정보요청 |\n| 153 | `ka10002` | 주식거래원요청 |\n| 154 | `ka10003` | 체결정보요청 |\n| 155 | `ka10013` | 신용매매동향요청 |\n| 156 | `ka10015` | 일별거래상세요청 |\n| 157 | `ka10016` | 신고저가요청 |\n| 158 | `ka10017` | 상하한가요청 |\n| 159 | `ka10018` | 고저가근접요청 |\n| 160 | `ka10019` | 가격급등락요청 |\n| 161 | `ka10024` | 거래량갱신요청 |\n| 162 | `ka10025` | 매물대집중요청 |\n| 163 | `ka10026` | 고저PER요청 |\n| 164 | `ka10028` | 시가대비등락률요청 |\n| 165 | `ka10043` | 거래원매물대분석요청 |\n| 166 | `ka10052` | 거래원순간거래량요청 |\n| 167 | `ka10054` | 변동성완화장치발동종목요청 |\n| 168 | `ka10055` | 당일전일체결량요청 |\n| 169 | `ka10058` | 투자자별일별매매종목요청 |\n| 170 | `ka10059` | 종목별투자자기관별요청 |\n| 171 | `ka10061` | 종목별투자자기관별합계요청 |\n| 172 | `ka10084` | 당일전일체결요청 |\n| 173 | `ka10095` | 관심종목정보요청 |\n| 174 | `ka10099` | 종목정보 리스트 |\n| 175 | `ka10100` | 종목정보 조회 |\n| 176 | `ka10101` | 업종코드 리스트 |\n| 177 | `ka10102` | 회원사 리스트 |\n| 178 | `ka90003` | 프로그램순매수상위50요청 |\n| 179 | `ka90004` | 종목별프로그램매매현황요청 |\n| 180 | `kt20016` | 신용융자 가능종목요청 |\n| 181 | `kt20017` | 신용융자 가능문의 |"
    },
    {
      "name": "thme / 테마",
      "description": "**2개**\n\n| # | API ID | 설명 |\n|---|---|---|\n| 182 | `ka90001` | 테마그룹별요청 |\n| 183 | `ka90002` | 테마구성종목요청 |",
      "x-description-en": "**2 endpoints**\n\n| # | API ID | Description |\n|---|---|---|\n| 182 | `ka90001` | 테마그룹별요청 |\n| 183 | `ka90002` | 테마구성종목요청 |"
    },
    {
      "name": "token / 접근토큰발급",
      "description": "**1개**\n\n| # | API ID | 설명 |\n|---|---|---|\n| 184 | `au10001` | 접근토큰 발급 |",
      "x-description-en": "**1 endpoints**\n\n| # | API ID | Description |\n|---|---|---|\n| 184 | `au10001` | 접근토큰 발급 |"
    },
    {
      "name": "websocket / 실시간시세",
      "description": "**19개**\n\n| # | API ID | 설명 |\n|---|---|---|\n| 185 | `00` | 주문체결 |\n| 186 | `04` | 잔고 |\n| 187 | `0A` | 주식기세 |\n| 188 | `0B` | 주식체결 |\n| 189 | `0C` | 주식우선호가 |\n| 190 | `0D` | 주식호가잔량 |\n| 191 | `0E` | 주식시간외호가 |\n| 192 | `0F` | 주식당일거래원 |\n| 193 | `0G` | ETF NAV |\n| 194 | `0H` | 주식예상체결 |\n| 195 | `0I` | 국제금환산가격 |\n| 196 | `0J` | 업종지수 |\n| 197 | `0U` | 업종등락 |\n| 198 | `0g` | 주식종목정보 |\n| 199 | `0m` | ELW 이론가 |\n| 200 | `0s` | 장시작시간 |\n| 201 | `0u` | ELW 지표 |\n| 202 | `0w` | 종목프로그램매매 |\n| 203 | `1h` | VI발동/해제 |",
      "x-description-en": "**19 endpoints**\n\n| # | API ID | Description |\n|---|---|---|\n| 185 | `00` | 주문체결 |\n| 186 | `04` | 잔고 |\n| 187 | `0A` | 주식기세 |\n| 188 | `0B` | 주식체결 |\n| 189 | `0C` | 주식우선호가 |\n| 190 | `0D` | 주식호가잔량 |\n| 191 | `0E` | 주식시간외호가 |\n| 192 | `0F` | 주식당일거래원 |\n| 193 | `0G` | ETF NAV |\n| 194 | `0H` | 주식예상체결 |\n| 195 | `0I` | 국제금환산가격 |\n| 196 | `0J` | 업종지수 |\n| 197 | `0U` | 업종등락 |\n| 198 | `0g` | 주식종목정보 |\n| 199 | `0m` | ELW 이론가 |\n| 200 | `0s` | 장시작시간 |\n| 201 | `0u` | ELW 지표 |\n| 202 | `0w` | 종목프로그램매매 |\n| 203 | `1h` | VI발동/해제 |"
    },
    {
      "name": "websocket / 조건검색",
      "description": "**4개**\n\n| # | API ID | 설명 |\n|---|---|---|\n| 204 | `ka10171` | 조건검색 목록조회 |\n| 205 | `ka10172` | 조건검색 요청 일반 |\n| 206 | `ka10173` | 조건검색 요청 실시간 |\n| 207 | `ka10174` | 조건검색 실시간 해제 |",
      "x-description-en": "**4 endpoints**\n\n| # | API ID | Description |\n|---|---|---|\n| 204 | `ka10171` | 조건검색 목록조회 |\n| 205 | `ka10172` | 조건검색 요청 일반 |\n| 206 | `ka10173` | 조건검색 요청 실시간 |\n| 207 | `ka10174` | 조건검색 실시간 해제 |"
    }
  ],
  "paths": {
    "/oauth2/token/au10001": {
      "post": {
        "operationId": "au10001",
        "summary": "접근토큰 발급",
        "x-api-id": "au10001",
        "x-real-path": "/oauth2/token",
        "parameters": [
          {
            "$ref": "#/components/parameters/authorization"
          },
          {
            "$ref": "#/components/parameters/api-id"
          },
          {
            "$ref": "#/components/parameters/cont-yn"
          },
          {
            "$ref": "#/components/parameters/next-key"
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "expires_dt": {
                      "type": "string",
                      "description": "만료일"
                    },
                    "token_type": {
                      "type": "string",
                      "description": "토큰타입"
                    },
                    "token": {
                      "type": "string",
                      "description": "접근토큰"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "description": "grant_type / client_credentials 입력 / 예: client_credentials"
                  },
                  "appkey": {
                    "type": "string",
                    "description": "앱키 / 예: AxserEsdcredca....."
                  },
                  "secretkey": {
                    "type": "string",
                    "description": "시크릿키 / 예: SEefdcwcforehDre2fdvc...."
                  }
                },
                "required": [
                  "grant_type",
                  "appkey",
                  "secretkey"
                ]
              }
            }
          }
        },
        "tags": [
          "token / 접근토큰발급"
        ],
        "x-index": 184
      }
    },
    "/oauth2/revoke/au10002": {
      "post": {
        "operationId": "au10002",
        "summary": "접근토큰폐기",
        "x-api-id": "au10002",
        "x-real-path": "/oauth2/revoke",
        "parameters": [
          {
            "$ref": "#/components/parameters/authorization"
          },
          {
            "$ref": "#/components/parameters/api-id"
          },
          {
            "$ref": "#/components/parameters/cont-yn"
          },
          {
            "$ref": "#/components/parameters/next-key"
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "appkey": {
                    "type": "string",
                    "description": "앱키 / 예: AxserEsdcredca....."
                  },
                  "secretkey": {
                    "type": "string",
                    "description": "시크릿키 / 예: SEefdcwcforehDre2fdvc...."
                  },
                  "token": {
                    "type": "string",
                    "description": "접근토큰 / 예: WQJCwyqInphKnR3bSRtB9NE1lv..."
                  }
                },
                "required": [
                  "appkey",
                  "secretkey",
                  "token"
                ]
              }
            }
          }
        },
        "tags": [
          "revoke / 접근토큰폐기"
        ],
        "x-index": 116
      }
    },
    "/api/dostk/acnt/ka00001": {
      "post": {
        "operationId": "ka00001",
        "summary": "계좌번호조회",
        "x-api-id": "ka00001",
        "x-real-path": "/api/dostk/acnt",
        "parameters": [
          {
            "$ref": "#/components/parameters/authorization"
          },
          {
            "$ref": "#/components/parameters/api-id"
          },
          {
            "$ref": "#/components/parameters/cont-yn"
          },
          {
            "$ref": "#/components/parameters/next-key"
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "acctNo": {
                      "type": "string",
                      "description": "계좌번호 / 10자리 숫자가 출력됩니다. 뒤에 2자리는 당사에서 계좌를 분류하기 위한 값입니다.",
                      "maxLength": 20
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "acnt / 계좌"
        ],
        "x-index": 1
      }
    },
    "/api/dostk/stkinfo/ka00198": {
      "post": {
        "operationId": "ka00198",
        "summary": "실시간종목조회순위",
        "x-api-id": "ka00198",
        "x-real-path": "/api/dostk/stkinfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/authorization"
          },
          {
            "$ref": "#/components/parameters/api-id"
          },
          {
            "$ref": "#/components/parameters/cont-yn"
          },
          {
            "$ref": "#/components/parameters/next-key"
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "item_inq_rank": {
                      "type": "string",
                      "description": "실시간종목조회순위"
                    },
                    "- stk_nm": {
                      "type": "string",
                      "description": "종목명",
                      "maxLength": 40
                    },
                    "- bigd_rank": {
                      "type": "string",
                      "description": "빅데이터 순위 / 0: 순위 변동 없음",
                      "maxLength": 20
                    },
                    "- rank_chg": {
                      "type": "string",
                      "description": "순위 등락 / 순위 변동 없음(rank_chg=0)인 경우 빈값('') 출력",
                      "maxLength": 20
                    },
                    "- rank_chg_sign": {
                      "type": "string",
                      "description": "순위 등락 부호 / 순위상승: +, 순위하락: -, 순위변동없음: '",
                      "maxLength": 20
                    },
                    "- past_curr_prc": {
                      "type": "string",
                      "description": "과거 현재가 / 기준 시점 주가, 부호가 포함된 원화 값",
                      "maxLength": 20
                    },
                    "- base_comp_sign": {
                      "type": "string",
                      "description": "기준가 대비 부호 / 1: 상한가, 2:상승, 3:보합, 4:하한가, 5:하락",
                      "maxLength": 20
                    },
                    "- base_comp_chgr": {
                      "type": "string",
                      "description": "기준가 대비 등락율 / 단위: %, 부호 포함 소수점 둘째 자리까지 포맷된 백분율",
                      "maxLength": 20
                    },
                    "- prev_base_sign": {
                      "type": "string",
                      "description": "직전 기준 대비 부호",
                      "maxLength": 20
                    },
                    "- prev_base_chgr": {
                      "type": "string",
                      "description": "직전 기준 대비 등락율 / 단위: %, 부호 포함 소수점 둘째 자리까지 포맷된 백분율",
                      "maxLength": 20
                    },
                    "- dt": {
                      "type": "string",
                      "description": "일자 / 기준 일자, YYYYMMDD",
                      "maxLength": 20
                    },
                    "- tm": {
                      "type": "string",
                      "description": "시간 / 기준 시간, HHmmss",
                      "maxLength": 20
                    },
                    "- stk_cd": {
                      "type": "string",
                      "description": "종목코드",
                      "maxLength": 20
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "qry_tp": {
                    "type": "string",
                    "description": "구분 / 1:1분, 2:10분, 3:1시간, 4:당일 누적, 5:30초 / 예: 1",
                    "maxLength": 1
                  }
                },
                "required": [
                  "qry_tp"
                ]
              }
            }
          }
        },
        "tags": [
          "stkinfo / 종목정보"
        ],
        "x-index": 151
      }
    },
    "/api/dostk/acnt/ka01690": {
      "post": {
        "operationId": "ka01690",
        "summary": "일별잔고수익률",
        "x-api-id": "ka01690",
        "x-real-path": "/api/dostk/acnt",
        "parameters": [
          {
            "$ref": "#/components/parameters/authorization"
          },
          {
            "$ref": "#/components/parameters/api-id"
          },
          {
            "$ref": "#/components/parameters/cont-yn"
          },
          {
            "$ref": "#/components/parameters/next-key"
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "dt": {
                      "type": "string",
                      "description": "일자 / YYYYMMDD",
                      "maxLength": 20
                    },
                    "tot_buy_amt": {
                      "type": "string",
                      "description": "총 매입가 / 단위 : 원",
                      "maxLength": 20
                    },
                    "tot_evlt_amt": {
                      "type": "string",
                      "description": "총 평가금액 / 단위 : 원",
                      "maxLength": 20
                    },
                    "tot_evltv_prft": {
                      "type": "string",
                      "description": "총 평가손익 / 단위 : 원",
                      "maxLength": 20
                    },
                    "tot_prft_rt": {
                      "type": "string",
                      "description": "수익률 / 단위: %, 소수점 둘째 자리까지 포맷된 백분율",
                      "maxLength": 20
                    },
                    "dbst_bal": {
                      "type": "string",
                      "description": "예수금 / 단위 : 원",
                      "maxLength": 20
                    },
                    "day_stk_asst": {
                      "type": "string",
                      "description": "추정자산 / 단위 : 원",
                      "maxLength": 20
                    },
                    "buy_wght": {
                      "type": "string",
                      "description": "현금비중 / 단위: %, 소수점 둘째 자리까지 포맷된 백분율",
                      "maxLength": 20
                    },
                    "day_bal_rt": {
                      "type": "string",
                      "description": "일별잔고수익률"
                    },
                    "- cur_prc": {
                      "type": "string",
                      "description": "현재가 / 단위 : 원",
                      "maxLength": 20
                    },
                    "- stk_cd": {
                      "type": "string",
                      "description": "종목코드",
                      "maxLength": 20
                    },
                    "- stk_nm": {
                      "type": "string",
                      "description": "종목명",
                      "maxLength": 20
                    },
                    "- rmnd_qty": {
                      "type": "string",
                      "description": "보유 수량 / 단위 : 1주",
                      "maxLength": 20
                    },
                    "- buy_uv": {
                      "type": "string",
                      "description": "매입 단가 / 단위 : 원",
                      "maxLength": 20
                    },
                    "- buy_wght": {
                      "type": "string",
                      "description": "매수비중 / 단위: %, 소수점 첫째 자리까지 포맷된 백분율",
                      "maxLength": 20
                    },
                    "- evltv_prft": {
                      "type": "string",
                      "description": "평가손익 / 단위 : 원",
                      "maxLength": 20
                    },
                    "- prft_rt": {
                      "type": "string",
                      "description": "수익률 / 단위: %, 소수점 둘째 자리까지 포맷된 백분율",
                      "maxLength": 20
                    },
                    "- evlt_amt": {
                      "type": "string",
                      "description": "평가금액 / 단위 : 원",
                      "maxLength": 20
                    },
                    "- evlt_wght": {
                      "type": "string",
                      "description": "평가비중 / 단위: %, 소수점 첫째 자리까지 포맷된 백분율",
                      "maxLength": 20
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "qry_dt": {
                    "type": "string",
                    "description": "조회일자 / YYYYMMDD / 예: 20250825",
                    "maxLength": 8
                  }
                },
                "required": [
                  "qry_dt"
                ]
              }
            }
          }
        },
        "tags": [
          "acnt / 계좌"
        ],
        "x-index": 2
      }
    },
    "/api/dostk/stkinfo/ka10001": {
      "post": {
        "operationId": "ka10001",
        "summary": "주식기본정보요청",
        "x-api-id": "ka10001",
        "x-real-path": "/api/dostk/stkinfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/authorization"
          },
          {
            "$ref": "#/components/parameters/api-id"
          },
          {
            "$ref": "#/components/parameters/cont-yn"
          },
          {
            "$ref": "#/components/parameters/next-key"
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "stk_cd": {
                      "type": "string",
                      "description": "종목코드",
                      "maxLength": 20
                    },
                    "stk_nm": {
                      "type": "string",
                      "description": "종목명",
                      "maxLength": 40
                    },
                    "setl_mm": {
                      "type": "string",
                      "description": "결산월",
                      "maxLength": 20
                    },
                    "fav": {
                      "type": "string",
                      "description": "액면가 / 단위: 원",
                      "maxLength": 20
                    },
                    "cap": {
                      "type": "string",
                      "description": "자본금 / 단위: 억원",
                      "maxLength": 20
                    },
                    "flo_stk": {
                      "type": "string",
                      "description": "상장주식 / 단위: 천원",
                      "maxLength": 20
                    },
                    "crd_rt": {
                      "type": "string",
                      "description": "신용비율 / 단위: %, 부호 포함 소수점 둘째 자리까지 포맷된 백분율",
                      "maxLength": 20
                    },
                    "oyr_hgst": {
                      "type": "string",
                      "description": "연중최고 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "oyr_lwst": {
                      "type": "string",
                      "description": "연중최저 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "mac": {
                      "type": "string",
                      "description": "시가총액 / 단위: 억원",
                      "maxLength": 20
                    },
                    "mac_wght": {
                      "type": "string",
                      "description": "시가총액비중",
                      "maxLength": 20
                    },
                    "for_exh_rt": {
                      "type": "string",
                      "description": "외인소진률 / 단위: %, 부호 포함 소수점 둘째 자리까지 포맷된 백분율",
                      "maxLength": 20
                    },
                    "repl_pric": {
                      "type": "string",
                      "description": "대용가 / 단위: 원",
                      "maxLength": 20
                    },
                    "per": {
                      "type": "string",
                      "description": "PER / [ 주의 ] PER, ROE 값들은 외부벤더사에서 제공되는 데이터이며 일주일에 한번 또는 실적발표 시즌에 업데이트 됨",
                      "maxLength": 20
                    },
                    "eps": {
                      "type": "string",
                      "description": "EPS",
                      "maxLength": 20
                    },
                    "roe": {
                      "type": "string",
                      "description": "ROE / [ 주의 ]  PER, ROE 값들은 외부벤더사에서 제공되는 데이터이며 일주일에 한번 또는 실적발표 시즌에 업데이트 됨",
                      "maxLength": 20
                    },
                    "pbr": {
                      "type": "string",
                      "description": "PBR",
                      "maxLength": 20
                    },
                    "ev": {
                      "type": "string",
                      "description": "EV",
                      "maxLength": 20
                    },
                    "bps": {
                      "type": "string",
                      "description": "BPS",
                      "maxLength": 20
                    },
                    "sale_amt": {
                      "type": "string",
                      "description": "매출액 / 단위: 억원",
                      "maxLength": 20
                    },
                    "bus_pro": {
                      "type": "string",
                      "description": "영업이익 / 단위: 억원",
                      "maxLength": 20
                    },
                    "cup_nga": {
                      "type": "string",
                      "description": "당기순이익 / 단위: 억원",
                      "maxLength": 20
                    },
                    "250hgst": {
                      "type": "string",
                      "description": "250최고 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "250lwst": {
                      "type": "string",
                      "description": "250최저 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "open_pric": {
                      "type": "string",
                      "description": "시가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "high_pric": {
                      "type": "string",
                      "description": "고가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "low_pric": {
                      "type": "string",
                      "description": "저가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "upl_pric": {
                      "type": "string",
                      "description": "상한가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "lst_pric": {
                      "type": "string",
                      "description": "하한가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "base_pric": {
                      "type": "string",
                      "description": "기준가 / 단위: 원",
                      "maxLength": 20
                    },
                    "exp_cntr_pric": {
                      "type": "string",
                      "description": "예상체결가",
                      "maxLength": 20
                    },
                    "exp_cntr_qty": {
                      "type": "string",
                      "description": "예상체결수량",
                      "maxLength": 20
                    },
                    "250hgst_pric_dt": {
                      "type": "string",
                      "description": "250최고가일 / YYYYMMDD",
                      "maxLength": 20
                    },
                    "250hgst_pric_pre_rt": {
                      "type": "string",
                      "description": "250최고가대비율 / 단위: %, 부호 포함 소수점 둘째 자리까지 포맷된 백분율",
                      "maxLength": 20
                    },
                    "250lwst_pric_dt": {
                      "type": "string",
                      "description": "250최저가일 / YYYYMMDD",
                      "maxLength": 20
                    },
                    "250lwst_pric_pre_rt": {
                      "type": "string",
                      "description": "250최저가대비율 / 단위: %, 부호 포함 소수점 둘째 자리까지 포맷된 백분율",
                      "maxLength": 20
                    },
                    "cur_prc": {
                      "type": "string",
                      "description": "현재가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "pre_sig": {
                      "type": "string",
                      "description": "대비기호 / 1: 상한가, 2:상승, 3:보합, 4:하한가, 5:하락",
                      "maxLength": 20
                    },
                    "pred_pre": {
                      "type": "string",
                      "description": "전일대비 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "flu_rt": {
                      "type": "string",
                      "description": "등락율 / 단위: %, 부호 포함 소수점 둘째 자리까지 포맷된 백분율",
                      "maxLength": 20
                    },
                    "trde_qty": {
                      "type": "string",
                      "description": "거래량 / 단위: 1주",
                      "maxLength": 20
                    },
                    "trde_pre": {
                      "type": "string",
                      "description": "거래대비 / 단위: %, 부호 포함 소수점 둘째 자리까지 포맷된 백분율",
                      "maxLength": 20
                    },
                    "fav_unit": {
                      "type": "string",
                      "description": "액면가단위",
                      "maxLength": 20
                    },
                    "dstr_stk": {
                      "type": "string",
                      "description": "유통주식 / 단위: 1주",
                      "maxLength": 20
                    },
                    "dstr_rt": {
                      "type": "string",
                      "description": "유통비율 / 단위: %, 부호 포함 소수점 첫째 자리까지 포맷된 백분율",
                      "maxLength": 20
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "stk_cd": {
                    "type": "string",
                    "description": "종목코드 / 거래소별 종목코드<br/>(KRX:039490,NXT:039490_NX,SOR:039490_AL) / 예: 005930",
                    "maxLength": 20
                  }
                },
                "required": [
                  "stk_cd"
                ]
              }
            }
          }
        },
        "tags": [
          "stkinfo / 종목정보"
        ],
        "x-index": 152
      }
    },
    "/api/dostk/stkinfo/ka10002": {
      "post": {
        "operationId": "ka10002",
        "summary": "주식거래원요청",
        "x-api-id": "ka10002",
        "x-real-path": "/api/dostk/stkinfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/authorization"
          },
          {
            "$ref": "#/components/parameters/api-id"
          },
          {
            "$ref": "#/components/parameters/cont-yn"
          },
          {
            "$ref": "#/components/parameters/next-key"
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "stk_cd": {
                      "type": "string",
                      "description": "종목코드",
                      "maxLength": 20
                    },
                    "stk_nm": {
                      "type": "string",
                      "description": "종목명",
                      "maxLength": 40
                    },
                    "cur_prc": {
                      "type": "string",
                      "description": "현재가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "flu_smbol": {
                      "type": "string",
                      "description": "등락부호 / 1: 상한가, 2:상승, 3:보합, 4:하한가, 5:하락",
                      "maxLength": 20
                    },
                    "base_pric": {
                      "type": "string",
                      "description": "기준가 / 단위: 원",
                      "maxLength": 20
                    },
                    "pred_pre": {
                      "type": "string",
                      "description": "전일대비 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "flu_rt": {
                      "type": "string",
                      "description": "등락율 / 단위: %, 부호 포함 소수점 둘째 자리까지 포맷된 백분율",
                      "maxLength": 20
                    },
                    "sel_trde_ori_nm_1": {
                      "type": "string",
                      "description": "매도거래원명1",
                      "maxLength": 20
                    },
                    "sel_trde_ori_1": {
                      "type": "string",
                      "description": "매도거래원1",
                      "maxLength": 20
                    },
                    "sel_trde_qty_1": {
                      "type": "string",
                      "description": "매도거래량1 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "buy_trde_ori_nm_1": {
                      "type": "string",
                      "description": "매수거래원명1",
                      "maxLength": 20
                    },
                    "buy_trde_ori_1": {
                      "type": "string",
                      "description": "매수거래원1",
                      "maxLength": 20
                    },
                    "buy_trde_qty_1": {
                      "type": "string",
                      "description": "매수거래량1 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "sel_trde_ori_nm_2": {
                      "type": "string",
                      "description": "매도거래원명2",
                      "maxLength": 20
                    },
                    "sel_trde_ori_2": {
                      "type": "string",
                      "description": "매도거래원2",
                      "maxLength": 20
                    },
                    "sel_trde_qty_2": {
                      "type": "string",
                      "description": "매도거래량2 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "buy_trde_ori_nm_2": {
                      "type": "string",
                      "description": "매수거래원명2",
                      "maxLength": 20
                    },
                    "buy_trde_ori_2": {
                      "type": "string",
                      "description": "매수거래원2",
                      "maxLength": 20
                    },
                    "buy_trde_qty_2": {
                      "type": "string",
                      "description": "매수거래량2 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "sel_trde_ori_nm_3": {
                      "type": "string",
                      "description": "매도거래원명3",
                      "maxLength": 20
                    },
                    "sel_trde_ori_3": {
                      "type": "string",
                      "description": "매도거래원3",
                      "maxLength": 20
                    },
                    "sel_trde_qty_3": {
                      "type": "string",
                      "description": "매도거래량3 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "buy_trde_ori_nm_3": {
                      "type": "string",
                      "description": "매수거래원명3",
                      "maxLength": 20
                    },
                    "buy_trde_ori_3": {
                      "type": "string",
                      "description": "매수거래원3",
                      "maxLength": 20
                    },
                    "buy_trde_qty_3": {
                      "type": "string",
                      "description": "매수거래량3 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "sel_trde_ori_nm_4": {
                      "type": "string",
                      "description": "매도거래원명4",
                      "maxLength": 20
                    },
                    "sel_trde_ori_4": {
                      "type": "string",
                      "description": "매도거래원4",
                      "maxLength": 20
                    },
                    "sel_trde_qty_4": {
                      "type": "string",
                      "description": "매도거래량4 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "buy_trde_ori_nm_4": {
                      "type": "string",
                      "description": "매수거래원명4",
                      "maxLength": 20
                    },
                    "buy_trde_ori_4": {
                      "type": "string",
                      "description": "매수거래원4",
                      "maxLength": 20
                    },
                    "buy_trde_qty_4": {
                      "type": "string",
                      "description": "매수거래량4 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "sel_trde_ori_nm_5": {
                      "type": "string",
                      "description": "매도거래원명5",
                      "maxLength": 20
                    },
                    "sel_trde_ori_5": {
                      "type": "string",
                      "description": "매도거래원5",
                      "maxLength": 20
                    },
                    "sel_trde_qty_5": {
                      "type": "string",
                      "description": "매도거래량5 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "buy_trde_ori_nm_5": {
                      "type": "string",
                      "description": "매수거래원명5",
                      "maxLength": 20
                    },
                    "buy_trde_ori_5": {
                      "type": "string",
                      "description": "매수거래원5",
                      "maxLength": 20
                    },
                    "buy_trde_qty_5": {
                      "type": "string",
                      "description": "매수거래량5 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "stk_cd": {
                    "type": "string",
                    "description": "종목코드 / 거래소별 종목코드<br/>(KRX:039490,NXT:039490_NX,SOR:039490_AL) / 예: 005930",
                    "maxLength": 20
                  }
                },
                "required": [
                  "stk_cd"
                ]
              }
            }
          }
        },
        "tags": [
          "stkinfo / 종목정보"
        ],
        "x-index": 153
      }
    },
    "/api/dostk/stkinfo/ka10003": {
      "post": {
        "operationId": "ka10003",
        "summary": "체결정보요청",
        "x-api-id": "ka10003",
        "x-real-path": "/api/dostk/stkinfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/authorization"
          },
          {
            "$ref": "#/components/parameters/api-id"
          },
          {
            "$ref": "#/components/parameters/cont-yn"
          },
          {
            "$ref": "#/components/parameters/next-key"
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cntr_infr": {
                      "type": "string",
                      "description": "체결정보"
                    },
                    "- tm": {
                      "type": "string",
                      "description": "시간 / HHmmss",
                      "maxLength": 20
                    },
                    "- cur_prc": {
                      "type": "string",
                      "description": "현재가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "- pred_pre": {
                      "type": "string",
                      "description": "전일대비 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "- pre_rt": {
                      "type": "string",
                      "description": "대비율 / 단위: %, 부호 포함 소수점 둘째 자리까지 포맷된 백분율",
                      "maxLength": 20
                    },
                    "- pri_sel_bid_unit": {
                      "type": "string",
                      "description": "우선매도호가단위 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "- pri_buy_bid_unit": {
                      "type": "string",
                      "description": "우선매수호가단위 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "- cntr_trde_qty": {
                      "type": "string",
                      "description": "체결거래량 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "- sign": {
                      "type": "string",
                      "description": "sign / 1: 상한가, 2:상승, 3:보합, 4:하한가, 5:하락",
                      "maxLength": 20
                    },
                    "- acc_trde_qty": {
                      "type": "string",
                      "description": "누적거래량 / 단위: 1주",
                      "maxLength": 20
                    },
                    "- acc_trde_prica": {
                      "type": "string",
                      "description": "누적거래대금 / 단위: 원",
                      "maxLength": 20
                    },
                    "- cntr_str": {
                      "type": "string",
                      "description": "체결강도 / 단위: %, 부호 포함 소수점 둘째 자리까지 포맷된 백분율",
                      "maxLength": 20
                    },
                    "- stex_tp": {
                      "type": "string",
                      "description": "거래소구분 / KRX , NXT , 통합",
                      "maxLength": 20
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "stk_cd": {
                    "type": "string",
                    "description": "종목코드 / 거래소별 종목코드<br/>(KRX:039490,NXT:039490_NX,SOR:039490_AL) / 예: 005930",
                    "maxLength": 20
                  }
                },
                "required": [
                  "stk_cd"
                ]
              }
            }
          }
        },
        "tags": [
          "stkinfo / 종목정보"
        ],
        "x-index": 154
      }
    },
    "/api/dostk/mrkcond/ka10004": {
      "post": {
        "operationId": "ka10004",
        "summary": "주식호가요청",
        "x-api-id": "ka10004",
        "x-real-path": "/api/dostk/mrkcond",
        "parameters": [
          {
            "$ref": "#/components/parameters/authorization"
          },
          {
            "$ref": "#/components/parameters/api-id"
          },
          {
            "$ref": "#/components/parameters/cont-yn"
          },
          {
            "$ref": "#/components/parameters/next-key"
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bid_req_base_tm": {
                      "type": "string",
                      "description": "호가잔량기준시간 / YYYYMMDD",
                      "maxLength": 20
                    },
                    "sel_10th_pre_req_pre": {
                      "type": "string",
                      "description": "매도10차선잔량대비 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "sel_10th_pre_req": {
                      "type": "string",
                      "description": "매도10차선잔량 / 단위: 1주",
                      "maxLength": 20
                    },
                    "sel_10th_pre_bid": {
                      "type": "string",
                      "description": "매도10차선호가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "sel_9th_pre_req_pre": {
                      "type": "string",
                      "description": "매도9차선잔량대비 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "sel_9th_pre_req": {
                      "type": "string",
                      "description": "매도9차선잔량 / 단위: 1주",
                      "maxLength": 20
                    },
                    "sel_9th_pre_bid": {
                      "type": "string",
                      "description": "매도9차선호가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "sel_8th_pre_req_pre": {
                      "type": "string",
                      "description": "매도8차선잔량대비 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "sel_8th_pre_req": {
                      "type": "string",
                      "description": "매도8차선잔량 / 단위: 1주",
                      "maxLength": 20
                    },
                    "sel_8th_pre_bid": {
                      "type": "string",
                      "description": "매도8차선호가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "sel_7th_pre_req_pre": {
                      "type": "string",
                      "description": "매도7차선잔량대비 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "sel_7th_pre_req": {
                      "type": "string",
                      "description": "매도7차선잔량 / 단위: 1주",
                      "maxLength": 20
                    },
                    "sel_7th_pre_bid": {
                      "type": "string",
                      "description": "매도7차선호가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "sel_6th_pre_req_pre": {
                      "type": "string",
                      "description": "매도6차선잔량대비 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "sel_6th_pre_req": {
                      "type": "string",
                      "description": "매도6차선잔량 / 단위: 1주",
                      "maxLength": 20
                    },
                    "sel_6th_pre_bid": {
                      "type": "string",
                      "description": "매도6차선호가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "sel_5th_pre_req_pre": {
                      "type": "string",
                      "description": "매도5차선잔량대비 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "sel_5th_pre_req": {
                      "type": "string",
                      "description": "매도5차선잔량 / 단위: 1주",
                      "maxLength": 20
                    },
                    "sel_5th_pre_bid": {
                      "type": "string",
                      "description": "매도5차선호가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "sel_4th_pre_req_pre": {
                      "type": "string",
                      "description": "매도4차선잔량대비 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "sel_4th_pre_req": {
                      "type": "string",
                      "description": "매도4차선잔량 / 단위: 1주",
                      "maxLength": 20
                    },
                    "sel_4th_pre_bid": {
                      "type": "string",
                      "description": "매도4차선호가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "sel_3th_pre_req_pre": {
                      "type": "string",
                      "description": "매도3차선잔량대비 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "sel_3th_pre_req": {
                      "type": "string",
                      "description": "매도3차선잔량 / 단위: 1주",
                      "maxLength": 20
                    },
                    "sel_3th_pre_bid": {
                      "type": "string",
                      "description": "매도3차선호가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "sel_2th_pre_req_pre": {
                      "type": "string",
                      "description": "매도2차선잔량대비 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "sel_2th_pre_req": {
                      "type": "string",
                      "description": "매도2차선잔량 / 단위: 1주",
                      "maxLength": 20
                    },
                    "sel_2th_pre_bid": {
                      "type": "string",
                      "description": "매도2차선호가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "sel_1th_pre_req_pre": {
                      "type": "string",
                      "description": "매도1차선잔량대비 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "sel_fpr_req": {
                      "type": "string",
                      "description": "매도최우선잔량 / 단위: 1주",
                      "maxLength": 20
                    },
                    "sel_fpr_bid": {
                      "type": "string",
                      "description": "매도최우선호가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "buy_fpr_bid": {
                      "type": "string",
                      "description": "매수최우선호가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "buy_fpr_req": {
                      "type": "string",
                      "description": "매수최우선잔량 / 단위: 1주",
                      "maxLength": 20
                    },
                    "buy_1th_pre_req_pre": {
                      "type": "string",
                      "description": "매수1차선잔량대비 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "buy_2th_pre_bid": {
                      "type": "string",
                      "description": "매수2차선호가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "buy_2th_pre_req": {
                      "type": "string",
                      "description": "매수2차선잔량 / 단위: 1주",
                      "maxLength": 20
                    },
                    "buy_2th_pre_req_pre": {
                      "type": "string",
                      "description": "매수2차선잔량대비 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "buy_3th_pre_bid": {
                      "type": "string",
                      "description": "매수3차선호가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "buy_3th_pre_req": {
                      "type": "string",
                      "description": "매수3차선잔량 / 단위: 1주",
                      "maxLength": 20
                    },
                    "buy_3th_pre_req_pre": {
                      "type": "string",
                      "description": "매수3차선잔량대비 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "buy_4th_pre_bid": {
                      "type": "string",
                      "description": "매수4차선호가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "buy_4th_pre_req": {
                      "type": "string",
                      "description": "매수4차선잔량 / 단위: 1주",
                      "maxLength": 20
                    },
                    "buy_4th_pre_req_pre": {
                      "type": "string",
                      "description": "매수4차선잔량대비 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "buy_5th_pre_bid": {
                      "type": "string",
                      "description": "매수5차선호가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "buy_5th_pre_req": {
                      "type": "string",
                      "description": "매수5차선잔량 / 단위: 1주",
                      "maxLength": 20
                    },
                    "buy_5th_pre_req_pre": {
                      "type": "string",
                      "description": "매수5차선잔량대비 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "buy_6th_pre_bid": {
                      "type": "string",
                      "description": "매수6차선호가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "buy_6th_pre_req": {
                      "type": "string",
                      "description": "매수6차선잔량 / 단위: 1주",
                      "maxLength": 20
                    },
                    "buy_6th_pre_req_pre": {
                      "type": "string",
                      "description": "매수6차선잔량대비 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "buy_7th_pre_bid": {
                      "type": "string",
                      "description": "매수7차선호가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "buy_7th_pre_req": {
                      "type": "string",
                      "description": "매수7차선잔량 / 단위: 1주",
                      "maxLength": 20
                    },
                    "buy_7th_pre_req_pre": {
                      "type": "string",
                      "description": "매수7차선잔량대비 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "buy_8th_pre_bid": {
                      "type": "string",
                      "description": "매수8차선호가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "buy_8th_pre_req": {
                      "type": "string",
                      "description": "매수8차선잔량 / 단위: 1주",
                      "maxLength": 20
                    },
                    "buy_8th_pre_req_pre": {
                      "type": "string",
                      "description": "매수8차선잔량대비 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "buy_9th_pre_bid": {
                      "type": "string",
                      "description": "매수9차선호가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "buy_9th_pre_req": {
                      "type": "string",
                      "description": "매수9차선잔량 / 단위: 1주",
                      "maxLength": 20
                    },
                    "buy_9th_pre_req_pre": {
                      "type": "string",
                      "description": "매수9차선잔량대비 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "buy_10th_pre_bid": {
                      "type": "string",
                      "description": "매수10차선호가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "buy_10th_pre_req": {
                      "type": "string",
                      "description": "매수10차선잔량 / 단위: 1주",
                      "maxLength": 20
                    },
                    "buy_10th_pre_req_pre": {
                      "type": "string",
                      "description": "매수10차선잔량대비 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "tot_sel_req_jub_pre": {
                      "type": "string",
                      "description": "총매도잔량직전대비 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "tot_sel_req": {
                      "type": "string",
                      "description": "총매도잔량 / 단위: 1주",
                      "maxLength": 20
                    },
                    "tot_buy_req": {
                      "type": "string",
                      "description": "총매수잔량 / 단위: 1주",
                      "maxLength": 20
                    },
                    "tot_buy_req_jub_pre": {
                      "type": "string",
                      "description": "총매수잔량직전대비 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "ovt_sel_req_pre": {
                      "type": "string",
                      "description": "시간외매도잔량대비 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "ovt_sel_req": {
                      "type": "string",
                      "description": "시간외매도잔량 / 단위: 1주, 시간외 매도호가 총잔량",
                      "maxLength": 20
                    },
                    "ovt_buy_req": {
                      "type": "string",
                      "description": "시간외매수잔량 / 단위: 1주, 시간외 매수호가 총잔량",
                      "maxLength": 20
                    },
                    "ovt_buy_req_pre": {
                      "type": "string",
                      "description": "시간외매수잔량대비 / 단위: 1주, 부호가 포함된 숫자, 시간외 매수호가 총잔량 직전대비",
                      "maxLength": 20
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "stk_cd": {
                    "type": "string",
                    "description": "종목코드 / 거래소별 종목코드<br/>(KRX:039490,NXT:039490_NX,SOR:039490_AL) / 예: 005930",
                    "maxLength": 20
                  }
                },
                "required": [
                  "stk_cd"
                ]
              }
            }
          }
        },
        "tags": [
          "mrkcond / 시세"
        ],
        "x-index": 83
      }
    },
    "/api/dostk/mrkcond/ka10005": {
      "post": {
        "operationId": "ka10005",
        "summary": "주식일주월시분요청",
        "x-api-id": "ka10005",
        "x-real-path": "/api/dostk/mrkcond",
        "parameters": [
          {
            "$ref": "#/components/parameters/authorization"
          },
          {
            "$ref": "#/components/parameters/api-id"
          },
          {
            "$ref": "#/components/parameters/cont-yn"
          },
          {
            "$ref": "#/components/parameters/next-key"
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "stk_ddwkmm": {
                      "type": "string",
                      "description": "주식일주월시분"
                    },
                    "- date": {
                      "type": "string",
                      "description": "날짜 / YYYYMMDD",
                      "maxLength": 20
                    },
                    "- open_pric": {
                      "type": "string",
                      "description": "시가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "- high_pric": {
                      "type": "string",
                      "description": "고가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "- low_pric": {
                      "type": "string",
                      "description": "저가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "- close_pric": {
                      "type": "string",
                      "description": "종가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "- pre": {
                      "type": "string",
                      "description": "대비 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "- flu_rt": {
                      "type": "string",
                      "description": "등락률 / 단위: %, 부호 포함 소수점 둘째 자리까지 포맷된 백분율",
                      "maxLength": 20
                    },
                    "- trde_qty": {
                      "type": "string",
                      "description": "거래량 / 단위: 1주",
                      "maxLength": 20
                    },
                    "- trde_prica": {
                      "type": "string",
                      "description": "거래대금 / 단위: 백만원",
                      "maxLength": 20
                    },
                    "- for_poss": {
                      "type": "string",
                      "description": "외인보유 / 단위: %, 부호 포함 소수점 둘째 자리까지 포맷된 백분율",
                      "maxLength": 20
                    },
                    "- for_wght": {
                      "type": "string",
                      "description": "외인비중 / 단위: %, 부호 포함 소수점 둘째 자리까지 포맷된 백분율",
                      "maxLength": 20
                    },
                    "- for_netprps": {
                      "type": "string",
                      "description": "외인순매수",
                      "maxLength": 20
                    },
                    "- orgn_netprps": {
                      "type": "string",
                      "description": "기관순매수",
                      "maxLength": 20
                    },
                    "- ind_netprps": {
                      "type": "string",
                      "description": "개인순매수",
                      "maxLength": 20
                    },
                    "- crd_remn_rt": {
                      "type": "string",
                      "description": "신용잔고율",
                      "maxLength": 20
                    },
                    "- frgn": {
                      "type": "string",
                      "description": "외국계 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "- prm": {
                      "type": "string",
                      "description": "프로그램 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "stk_cd": {
                    "type": "string",
                    "description": "종목코드 / 거래소별 종목코드<br/>(KRX:039490,NXT:039490_NX,SOR:039490_AL) / 예: 005930",
                    "maxLength": 20
                  }
                },
                "required": [
                  "stk_cd"
                ]
              }
            }
          }
        },
        "tags": [
          "mrkcond / 시세"
        ],
        "x-index": 84
      }
    },
    "/api/dostk/mrkcond/ka10006": {
      "post": {
        "operationId": "ka10006",
        "summary": "주식시분요청",
        "x-api-id": "ka10006",
        "x-real-path": "/api/dostk/mrkcond",
        "parameters": [
          {
            "$ref": "#/components/parameters/authorization"
          },
          {
            "$ref": "#/components/parameters/api-id"
          },
          {
            "$ref": "#/components/parameters/cont-yn"
          },
          {
            "$ref": "#/components/parameters/next-key"
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "date": {
                      "type": "string",
                      "description": "날짜 / YYYYMMDD",
                      "maxLength": 20
                    },
                    "open_pric": {
                      "type": "string",
                      "description": "시가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "high_pric": {
                      "type": "string",
                      "description": "고가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "low_pric": {
                      "type": "string",
                      "description": "저가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "close_pric": {
                      "type": "string",
                      "description": "종가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "pre": {
                      "type": "string",
                      "description": "대비 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "flu_rt": {
                      "type": "string",
                      "description": "등락률 / 단위: %, 부호 포함 소수점 둘째 자리까지 포맷된 백분율",
                      "maxLength": 20
                    },
                    "trde_qty": {
                      "type": "string",
                      "description": "거래량 / 단위: 1주",
                      "maxLength": 20
                    },
                    "trde_prica": {
                      "type": "string",
                      "description": "거래대금 / 단위: 백만원",
                      "maxLength": 20
                    },
                    "cntr_str": {
                      "type": "string",
                      "description": "체결강도 / 단위: %, 소수점 둘째 자리까지 포맷된 백분율",
                      "maxLength": 20
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "stk_cd": {
                    "type": "string",
                    "description": "종목코드 / 거래소별 종목코드<br/>(KRX:039490,NXT:039490_NX,SOR:039490_AL) / 예: 005930",
                    "maxLength": 20
                  }
                },
                "required": [
                  "stk_cd"
                ]
              }
            }
          }
        },
        "tags": [
          "mrkcond / 시세"
        ],
        "x-index": 85
      }
    },
    "/api/dostk/mrkcond/ka10007": {
      "post": {
        "operationId": "ka10007",
        "summary": "시세표성정보요청",
        "x-api-id": "ka10007",
        "x-real-path": "/api/dostk/mrkcond",
        "parameters": [
          {
            "$ref": "#/components/parameters/authorization"
          },
          {
            "$ref": "#/components/parameters/api-id"
          },
          {
            "$ref": "#/components/parameters/cont-yn"
          },
          {
            "$ref": "#/components/parameters/next-key"
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "stk_nm": {
                      "type": "string",
                      "description": "종목명",
                      "maxLength": 40
                    },
                    "stk_cd": {
                      "type": "string",
                      "description": "종목코드",
                      "maxLength": 6
                    },
                    "date": {
                      "type": "string",
                      "description": "날짜 / YYYYMMDD",
                      "maxLength": 20
                    },
                    "tm": {
                      "type": "string",
                      "description": "시간 / HHmmss",
                      "maxLength": 20
                    },
                    "pred_close_pric": {
                      "type": "string",
                      "description": "전일종가 / 단위: 원",
                      "maxLength": 20
                    },
                    "pred_trde_qty": {
                      "type": "string",
                      "description": "전일거래량 / 단위: 1주",
                      "maxLength": 20
                    },
                    "upl_pric": {
                      "type": "string",
                      "description": "상한가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "lst_pric": {
                      "type": "string",
                      "description": "하한가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "pred_trde_prica": {
                      "type": "string",
                      "description": "전일거래대금 / 단위: 백만원",
                      "maxLength": 20
                    },
                    "flo_stkcnt": {
                      "type": "string",
                      "description": "상장주식수 / 단위: 1주",
                      "maxLength": 20
                    },
                    "cur_prc": {
                      "type": "string",
                      "description": "현재가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "smbol": {
                      "type": "string",
                      "description": "부호 / 1: 상한가, 2:상승, 3:보합, 4:하한가, 5:하락",
                      "maxLength": 20
                    },
                    "flu_rt": {
                      "type": "string",
                      "description": "등락률 / 단위: %, 부호 포함 소수점 둘째 자리까지 포맷된 백분율",
                      "maxLength": 20
                    },
                    "pred_rt": {
                      "type": "string",
                      "description": "전일비 / 단위: %, 부호 포함 소수점 둘째 자리까지 포맷된 백분율",
                      "maxLength": 20
                    },
                    "open_pric": {
                      "type": "string",
                      "description": "시가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "high_pric": {
                      "type": "string",
                      "description": "고가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "low_pric": {
                      "type": "string",
                      "description": "저가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "cntr_qty": {
                      "type": "string",
                      "description": "체결량 / 단위: 1주",
                      "maxLength": 20
                    },
                    "trde_qty": {
                      "type": "string",
                      "description": "거래량 / 단위: 1주",
                      "maxLength": 20
                    },
                    "trde_prica": {
                      "type": "string",
                      "description": "거래대금 / 단위: 백만원",
                      "maxLength": 20
                    },
                    "exp_cntr_pric": {
                      "type": "string",
                      "description": "예상체결가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "exp_cntr_qty": {
                      "type": "string",
                      "description": "예상체결량 / 단위: 1주",
                      "maxLength": 20
                    },
                    "exp_sel_pri_bid": {
                      "type": "string",
                      "description": "예상매도우선호가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "exp_buy_pri_bid": {
                      "type": "string",
                      "description": "예상매수우선호가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "trde_strt_dt": {
                      "type": "string",
                      "description": "거래시작일 / YYYYMMDD",
                      "maxLength": 20
                    },
                    "exec_pric": {
                      "type": "string",
                      "description": "행사가격 / 단위: 원",
                      "maxLength": 20
                    },
                    "hgst_pric": {
                      "type": "string",
                      "description": "최고가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "lwst_pric": {
                      "type": "string",
                      "description": "최저가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "hgst_pric_dt": {
                      "type": "string",
                      "description": "최고가일 / YYYYMMDD",
                      "maxLength": 20
                    },
                    "lwst_pric_dt": {
                      "type": "string",
                      "description": "최저가일 / YYYYMMDD",
                      "maxLength": 20
                    },
                    "sel_1bid": {
                      "type": "string",
                      "description": "매도1호가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "sel_2bid": {
                      "type": "string",
                      "description": "매도2호가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "sel_3bid": {
                      "type": "string",
                      "description": "매도3호가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "sel_4bid": {
                      "type": "string",
                      "description": "매도4호가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "sel_5bid": {
                      "type": "string",
                      "description": "매도5호가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "sel_6bid": {
                      "type": "string",
                      "description": "매도6호가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "sel_7bid": {
                      "type": "string",
                      "description": "매도7호가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "sel_8bid": {
                      "type": "string",
                      "description": "매도8호가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "sel_9bid": {
                      "type": "string",
                      "description": "매도9호가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "sel_10bid": {
                      "type": "string",
                      "description": "매도10호가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "buy_1bid": {
                      "type": "string",
                      "description": "매수1호가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "buy_2bid": {
                      "type": "string",
                      "description": "매수2호가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "buy_3bid": {
                      "type": "string",
                      "description": "매수3호가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "buy_4bid": {
                      "type": "string",
                      "description": "매수4호가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "buy_5bid": {
                      "type": "string",
                      "description": "매수5호가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "buy_6bid": {
                      "type": "string",
                      "description": "매수6호가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "buy_7bid": {
                      "type": "string",
                      "description": "매수7호가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "buy_8bid": {
                      "type": "string",
                      "description": "매수8호가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "buy_9bid": {
                      "type": "string",
                      "description": "매수9호가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "buy_10bid": {
                      "type": "string",
                      "description": "매수10호가 / 단위: 원, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "sel_1bid_req": {
                      "type": "string",
                      "description": "매도1호가잔량 / 단위: 1주",
                      "maxLength": 20
                    },
                    "sel_2bid_req": {
                      "type": "string",
                      "description": "매도2호가잔량 / 단위: 1주",
                      "maxLength": 20
                    },
                    "sel_3bid_req": {
                      "type": "string",
                      "description": "매도3호가잔량 / 단위: 1주",
                      "maxLength": 20
                    },
                    "sel_4bid_req": {
                      "type": "string",
                      "description": "매도4호가잔량 / 단위: 1주",
                      "maxLength": 20
                    },
                    "sel_5bid_req": {
                      "type": "string",
                      "description": "매도5호가잔량 / 단위: 1주",
                      "maxLength": 20
                    },
                    "sel_6bid_req": {
                      "type": "string",
                      "description": "매도6호가잔량 / 단위: 1주",
                      "maxLength": 20
                    },
                    "sel_7bid_req": {
                      "type": "string",
                      "description": "매도7호가잔량 / 단위: 1주",
                      "maxLength": 20
                    },
                    "sel_8bid_req": {
                      "type": "string",
                      "description": "매도8호가잔량 / 단위: 1주",
                      "maxLength": 20
                    },
                    "sel_9bid_req": {
                      "type": "string",
                      "description": "매도9호가잔량 / 단위: 1주",
                      "maxLength": 20
                    },
                    "sel_10bid_req": {
                      "type": "string",
                      "description": "매도10호가잔량 / 단위: 1주",
                      "maxLength": 20
                    },
                    "buy_1bid_req": {
                      "type": "string",
                      "description": "매수1호가잔량 / 단위: 1주",
                      "maxLength": 20
                    },
                    "buy_2bid_req": {
                      "type": "string",
                      "description": "매수2호가잔량 / 단위: 1주",
                      "maxLength": 20
                    },
                    "buy_3bid_req": {
                      "type": "string",
                      "description": "매수3호가잔량 / 단위: 1주",
                      "maxLength": 20
                    },
                    "buy_4bid_req": {
                      "type": "string",
                      "description": "매수4호가잔량 / 단위: 1주",
                      "maxLength": 20
                    },
                    "buy_5bid_req": {
                      "type": "string",
                      "description": "매수5호가잔량 / 단위: 1주",
                      "maxLength": 20
                    },
                    "buy_6bid_req": {
                      "type": "string",
                      "description": "매수6호가잔량 / 단위: 1주",
                      "maxLength": 20
                    },
                    "buy_7bid_req": {
                      "type": "string",
                      "description": "매수7호가잔량 / 단위: 1주",
                      "maxLength": 20
                    },
                    "buy_8bid_req": {
                      "type": "string",
                      "description": "매수8호가잔량 / 단위: 1주",
                      "maxLength": 20
                    },
                    "buy_9bid_req": {
                      "type": "string",
                      "description": "매수9호가잔량 / 단위: 1주",
                      "maxLength": 20
                    },
                    "buy_10bid_req": {
                      "type": "string",
                      "description": "매수10호가잔량 / 단위: 1주",
                      "maxLength": 20
                    },
                    "sel_1bid_jub_pre": {
                      "type": "string",
                      "description": "매도1호가직전대비 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "sel_2bid_jub_pre": {
                      "type": "string",
                      "description": "매도2호가직전대비 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "sel_3bid_jub_pre": {
                      "type": "string",
                      "description": "매도3호가직전대비 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "sel_4bid_jub_pre": {
                      "type": "string",
                      "description": "매도4호가직전대비 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "sel_5bid_jub_pre": {
                      "type": "string",
                      "description": "매도5호가직전대비 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "sel_6bid_jub_pre": {
                      "type": "string",
                      "description": "매도6호가직전대비 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "sel_7bid_jub_pre": {
                      "type": "string",
                      "description": "매도7호가직전대비 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "sel_8bid_jub_pre": {
                      "type": "string",
                      "description": "매도8호가직전대비 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "sel_9bid_jub_pre": {
                      "type": "string",
                      "description": "매도9호가직전대비 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "sel_10bid_jub_pre": {
                      "type": "string",
                      "description": "매도10호가직전대비 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "buy_1bid_jub_pre": {
                      "type": "string",
                      "description": "매수1호가직전대비 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "buy_2bid_jub_pre": {
                      "type": "string",
                      "description": "매수2호가직전대비 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "buy_3bid_jub_pre": {
                      "type": "string",
                      "description": "매수3호가직전대비 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "buy_4bid_jub_pre": {
                      "type": "string",
                      "description": "매수4호가직전대비 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "buy_5bid_jub_pre": {
                      "type": "string",
                      "description": "매수5호가직전대비 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "buy_6bid_jub_pre": {
                      "type": "string",
                      "description": "매수6호가직전대비 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "buy_7bid_jub_pre": {
                      "type": "string",
                      "description": "매수7호가직전대비 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "buy_8bid_jub_pre": {
                      "type": "string",
                      "description": "매수8호가직전대비 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "buy_9bid_jub_pre": {
                      "type": "string",
                      "description": "매수9호가직전대비 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "buy_10bid_jub_pre": {
                      "type": "string",
                      "description": "매수10호가직전대비 / 단위: 1주, 부호가 포함된 숫자",
                      "maxLength": 20
                    },
                    "sel_1bid_cnt": {
                      "type": "string",
                      "description": "매도1호가건수",
                      "maxLength": 20
                    },
                    "sel_2bid_cnt": {
                      "type": "string",
                      "description": "매도2호가건수",
                      "maxLength": 20
                    },
                    "sel_3bid_cnt": {
                      "type": "string",
                      "description": "매도3호가건수",
                      "maxLength": 20
                    },
                    "sel_4bid_cnt": {
                      "type": "string",
                      "description": "매도4호가건수",
                      "maxLength": 20
                    },
                    "sel_5bid_cnt": {
                      "type": "string",
[...]
